
	<main class="page">
	 	<section class="shopping-cart dark">
	 		<div class="container">
		        <div class="block-heading">
		          <h2>Shopping Cart</h2>
		        </div>
		        <div class="content">
	 				<div class="row">
	 					<div class="col-md-12 col-lg-8">
	 						<div class="items">
                <% @cartItems.each do |item| %>

                  <%= render partial: 'shared/cartItem', :locals => {:item => item} %>

                <% end %>
				 			</div>
			 			</div>
			 			<div class="col-md-12 col-lg-4">
			 				<div class="summary">
			 					<h3>Summary</h3>
			 					<div class="summary-item"><span class="text">Total</span><span class="price"><%=@total%>£</span></div>
                <%= button_to 'Checkout', checkout_path, :method => 'get',:class => "btn btn-primary btn-lg btn-block" %>
				 			</div>
			 			</div>
		 			</div> 
		 		</div>
	 		</div>
		</section>
	</main>