
<div class= 'footerView'>
<ul class = 'footer'>
  <li> <a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/recent">My Tickets</a></li>
  <li><a href="/contact">Contact us</a></li>
  <li><a href="/twitter">Twitter</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/termsandcond">T & Cs</a></li>
  <li><a href="/privacy">Privacy</a></li>
  <li><a href="/ticketseller">Ticket Sellers</a></li>



<!--
  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->
</ul>

</div>
