<ul class='header'>

<%= image_tag("eventus.png", :align=> "left", :size => "60x60") %>

  <li><a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/recent">Recent</a></li>
  <div id="Signin">
    <li><%= link_to t('Sign In'), new_user_session_path %></li>
    <li>
      <%= link_to t('Sign Up'), new_user_registration_path %>
    </li>
  </div>
  <nav>

  </nav>

<!--

  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->


</ul>





