<ul>

<%= image_tag("nike.jpg", :align=> "left", :size => "90x90") %>

  <li><a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/recent">Recent</a></li>
  <div id="login"><li><a href="/signin">Sign In</a></li></div>
<!--
  <li><a href="/tickets">Tickets</a></li>
  <li><a href="/purchases">Purchases</a></li> -->
</ul>
