<div class="site-blocks-cover inner-page bg"
     data-aos="fade-up"
     data-aos-offset="200"
     data-aos-delay="0"
     data-aos-duration="1000"
     data-aos-easing="ease-in-out"
     data-aos-mirror="true"
     data-aos-once="false"
     data-aos-anchor-placement="top-center"
>
  <div class="container">
    <div class="row vertical-center">

      <div class="col-md-12 text-center" style="width: 75%;">
        <div class="main-text">Find events near you:</div>
        <div class="yellow-border">
          <input class="form-control" type="text" placeholder="Enter location" aria-label="Search">
        </div>

        <p style="padding-top: 10px"><a href="" class="btn btn-sm height-auto px-4 py-3 btn-primary">Search</a></p>
      </div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>