<div class="site-blocks-cover inner-page bg" data-aos="fade">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <h2 class="display-3 text-black">Find events near you:</h2>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <p style="padding-top: 10px"><a href="" class="btn btn-sm height-auto px-4 py-3 btn-primary">Search</a></p>
      </div>

    </div>
  </div>
</div>