<div class="site-blocks-cover inner-page bg">

  <div class="container">

    <div class="row vertical-center">

      <div class="col-md-12 text-center" style="width: 75%;">
        <div class="main-text" style="padding-bottom: 10px;">Find events near you:</div>
        <div class="yellow-border">
          <input class="form-control" type="text" placeholder="Enter location" aria-label="Search">
        </div>

        <p style="padding-top: 10px"><a href="" class="btn btn-sm height-auto px-4 py-3 btn-primary button-color">Search</a></p>
      </div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>