<div id="Privacy heading">
  <div class="page-container-container-sm">
    <div class="row">
      <div class="col-sm-12">
        <h1> Eventus - Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>

<section class="g-grid l-mar-top-10">
  <div class="g-group">

    <div class="sidenav--article g-vertical-group g-cell-10-12 g-offset-1-12 g-offset-lg-0-12 g-cell-lg-3-12">
      <div class="sidenav--article-bg l-pad-vert-4 l-sm-pad-vert-3">
        <div class="g-cell g-cell-12-12 l-pad-hor-2">
          <span id="contents">

  <p>Content: </p>
          <span id="table-of-contents-navigation">
      <ul class="unordered-list">
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#1" data-d-speed="2000" href="#1" dorsal-guid="87c6f9da-35c3-7286-dc28-bb362a593e31" data-xd-wired="scroll-to">WHAT INFORMATION DO WE COLLECT?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#2" data-d-speed="2000" href="#2" dorsal-guid="7b1058fe-2555-1c26-65e7-1da940a0cb64" data-xd-wired="scroll-to">HOW DO WE USE YOUR INFORMATION?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#3" data-d-speed="2000" href="#3" dorsal-guid="5d6063a9-13db-c4dd-0eea-aa60c313fd51" data-xd-wired="scroll-to">WILL YOUR INFORMATION BE SHARED WITH ANYONE?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#4" data-d-speed="2000" href="#4" dorsal-guid="88f1609c-a30c-3ec2-3fc0-b1ab53bc440e" data-xd-wired="scroll-to">DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#5" data-d-speed="2000" href="#5" dorsal-guid="ea29d872-2a05-0bd0-2c66-4d5074b443c2" data-xd-wired="scroll-to">DO WE USE GOOGLE MAPS?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#6" data-d-speed="2000" href="#6" dorsal-guid="76c41989-a629-31d5-1981-95cf46dc95a4" data-xd-wired="scroll-to">HOW LONG DO WE KEEP YOUR INFORMATION?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#7" data-d-speed="2000" href="#7" dorsal-guid="3afe0d07-afeb-189e-bbb8-c4f397d0aec5" data-xd-wired="scroll-to">HOW DO WE KEEP YOUR INFORMATION SAFE?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#8" data-d-speed="2000" href="#8" dorsal-guid="71805fc4-9061-c9a8-5668-8ae3470ed3f3" data-xd-wired="scroll-to">DO WE COLLECT INFORMATION FROM MINORS?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#9" data-d-speed="2000" href="#9" dorsal-guid="a2e54027-a9e9-6035-d9ae-102924f75746" data-xd-wired="scroll-to">WHAT ARE YOUR PRIVACY RIGHTS?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#10" data-d-speed="2000" href="#10" dorsal-guid="0ea575a3-c3e0-1208-212b-e8a705a3fba4" data-xd-wired="scroll-to">CONTROLS FOR DO-NOT-TRACK FEATURES</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#11" data-d-speed="2000" href="#11" dorsal-guid="61381b2b-a460-d7bb-970c-652bf6285bc7" data-xd-wired="scroll-to">DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#12" data-d-speed="2000" href="#12" dorsal-guid="0d0dd98f-36ad-f3c4-aa4f-45d8d0b69955" data-xd-wired="scroll-to">DO WE MAKE UPDATES TO THIS POLICY?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#12" data-d-speed="2000" href="#13" dorsal-guid="0d0dd98f-36ad-f3c4-aa4f-45d8d0b69955" data-xd-wired="scroll-to">HOW CAN YOU CONTACT US ABOUT THIS POLICY?</a></li>
          <li style="padding-bottom: 10px;"><a class="js-d-scroll-to" data-d-destination="#12" data-d-speed="2000" href="#14" dorsal-guid="0d0dd98f-36ad-f3c4-aa4f-45d8d0b69955" data-xd-wired="scroll-to">HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</a></li>

      </ul></span>
        </span>
        </div>
      </div>
    </div>

    <div class="article-content g-vertical-group g-cell-12-12 g-cell-lg-9-12">
      <div class="g-cell g-cell-9-9 l-padded-h-4"><span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id105">


  <p><span class="ebContent">Last updated 10 May, 2020 <br>  <br> Thank you for choosing to be part of our community at Eventus.
    We are committed to protecting your personal information and your right to privacy.
    If you have any questions or concerns about our policy, or our practices with regards to your personal information, please feel free to contact us.
    <br>  <br> When you visit our website, and use our services, you trust us with your personal information. We take your privacy very seriously.
    In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it.
    We hope you take some time to read through it carefully, as it is important.
    If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.

    <br> <br> This privacy policy applies to all information collected through our website (such as card details),
    and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Services").

   <br><br> Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.

    </span>
  </p><span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id105:articleDetailsComponent:j_id119">
    </span>
      </span>

        <span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135">
    <div class="l-mar-top-8"></div><span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135:articleStepsComponent:j_id136:0:j_id151">
      <h3 class="text-secondary l-mar-top-2" id="1"><span class="text-body--significant"></span>1. WHAT INFORMATION DO WE COLLECT?
      </h3></span>
          <span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135:articleStepsComponent:j_id136:0:j_id160">
      <p class="l-mar-top-2">

        <span class="personal-information" style="font-weight: bold;">Personal information you disclose to us
        <br> <br>
      </span>

        We collect personal information that you voluntarily provide to us when registering at the Services expressing an interest in obtaining information about us or our products and services, when participating in activities on the Services or otherwise contacting us.
       <br><br> The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products and features you use. The personal information we collect can include the following:
        <br><br>

        <strong>
          <span data-custom-class="body_text" style="font-weight: bold; size: 20px" >Publicly Available Personal Information.</span> We collect first name, maiden name, last name, and nickname; phone numbers; email addresses; current and former address; social media; date of birth; and other similar data.
        <br><br><span data-custom-class="body_text" style="font-weight: bold; size: 20px" >Personal Information Provided by You.</span> Personal Information Provided by You. We collect passwords; financial information (credit card number, purchase history, invoices); and other similar data.
        <br><br><span data-custom-class="body_text" style="font-weight: bold; size: 20px" >Payment Data.</span> We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument.
          <br><br>
          All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
        </strong>

      </p>
            <p class="l-mar-top-2" >
        <span class="personal-information"style="font-weight: bold;">Information collected from other sources
        <br> <br>
      </span>
       We may obtain information about you from other sources, such as public databases, joint marketing partners, as well as from other third parties. Examples of the information we receive from other sources include: social media profile information; marketing leads and search results and links, including paid listings (such as sponsored links).
       We will inform you about the source of information and the type of information and the type of information we have collected about you within a reasonable period after obtaining the personal data, but at the latest within one month.  <br><br>
      </p>

          </span>
        </span>

        <span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135:articleStepsComponent:j_id136:0:j_id160">
          <div class="l-mar-top-8"></div><span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135:articleStepsComponent:j_id136:0:j_id151">
      <h3 class="text-secondary l-mar-top-2" id="2"><span class="text-body--significant"></span>2. HOW DO WE USE YOUR INFORMATION ?
      </h3></span>
           <span id="j_id0:HelpCenterSiteTemplate:j_id2:j_id135:articleStepsComponent:j_id136:0:j_id160">
      <p class="l-mar-top-2">
      We use personal information collected via our Services for a variety of business purposes described below.
      We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations.
      We indicate the specific processing grounds we rely on next to each purpose listed below.
      </p>
        </span>
        </span>

    </div>

    </div>

  </div>
</section>
