
<div class="jumbotron card card-image" style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/8/2019/05/ticketing-strategy.png);">
  <div class="text-black text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Want to switch to our user mode?</strong></h2>
      <p class="mx-5 mb-5">Click below to switch to our user mode where you can explore events and purchase tickets!
      </p>
      <button onclick="location.href='home/home'" type="submit" id="form-submit" class="btn btn-primary btn-lg">Click Here</button>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
  <div class="row d-flex justify-content-center">
<div class="col-xl-7 pb-2">

      <p class="card-text">Explore what's on in your area. Find tickets to new upcoming events, made easy via map to show you what's on near you.
         </p>
</div>
    </div>
</div>
