<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">

    </head>

    <body>

    <section class="section colored" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Getting to know you</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Please fill out the following info so we and potential buyers can find out more about your organisation.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Need to contact us?</h5>
                    <div class="col-lg-12">
                      <fieldset>
                <button onclick="location.href='/contact'" type="submit" id="form-submit" class="main-button">Click Here</button>
                      </fieldset>
                    </div>

                </div>

                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Organisation Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                          </div>

                          <div class="row">
                          </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="form_need">What type of Organisation are you ?</label>
                                <select id="form_need" name="need" class="form-control" required="required" data-error="Choose the issue.">
                                  <option value=""></option>
                                  <option value="Help with ticket"> Charity</option>
                                  <option value="Help with the website ">Small Business</option>
                                  <option value="Help with refunds and exchanges">University Society</option>
                                  <option value="Other">Other</option>
                                </select>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Further comments" required=""></textarea>
                              </fieldset>
                            </div>

                            <div class="col-lg-12">
                              <fieldset>
                                <button onclick="location.href='new_form_path'" type="submit" id="form-submit" class="main-button">Send</button>


                              </fieldset>
                            </div>
                            </form>
                          </div>

                    </div>
                </div>
            </div>
    </section>


    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/custom.js"></script>


</body></html>
