<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div class="container">
  <% @events.each do |event| %>
    <%= render partial: '/shared/eventItem', locals: { item: event } %>
  <% end %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
