<h1 style="text-align: center; padding-top: 10px;">Create Tickets</h1>

<div style = "margin-left: 20px">
  <div class = "row">
    <div class = "eventNumBox"> 2</div>
    <h2 class="numBoxText">Ticket Details</h2>
  </div>
  <% @ticket.event_id = params[:event_id] %>
  <%= render 'form', ticket: @ticket %>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= link_to 'Back', '/myevents' %>
    </div>
  </div>
</div>