<p id="notice"><%= notice %></p>

<ul>
  <%@cart.line_items.each do |item| %>
    <li><%=item.ticket.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
