/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "magnific-popup";
@import "jquery-ui";
@import "owl.carousel";
@import "owl.theme.default";
@import 'slick';
@import "bootstrap";
@import "toastr";
@import "font-awesome";

@import "style";
@import 'home';
@import 'events';
@import 'purchases';
@import 'tickets';
@import 'orders';
@import 'cart';
@import 'checkout';
@import 'modals';

ul.header {
  list-style-type: none;
  margin: auto;
  padding-left: 15px;
  //overflow: scroll;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  height: 60px;
}

ul.footer {
  list-style-type: none;
  column-count: 2;
  column-gap: 0px;
  line-height: 250%;
  display: block;
  overflow: hidden;
  background-color: #FFF6A4;
  width: 30%;
  text-align: center;
  margin: auto;
}

div.footerView {
  background-color: #FFF6A4;
  padding: 50px;
}

li.footer {
  //float: left;
  color: #47525E;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  //font-weight: 400;
  line-height: 20px;
  position: relative;
  //width: 50px;
  //text-align: center;
}

.header{
li {
  float: left;
  color: #47525E;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 59px;
  width: 100px;
  text-align: center;
}

li a {
  display: block;
  color: #666;
  text-align: center;
//  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFF6A4;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
}

#corner {
  float: right;
}
nav{
  text-align: right;
}

.footer{

li a {
  display: block;
  color: #666;
  text-align: center;
//  padding: 14px 16px;
  text-decoration: none;
  bottom: 0;

}

li a:hover:not(.active) {
  background-color: #fff171;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
}

p{
  font-size: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
}
div{
  font-size: 12px;
}

.container {
  border-radius: 5px;
  padding: 20px;
  //background-color: #f3f3f3;
}

#cart{
  padding-bottom: 8px;

}

html {
  box-sizing: border-box;

}

.about-section {
  background-image: url("about-us-title-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 110px;
  padding-bottom:128px;

}

.contact {
  background-image: url("contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 110px;
  padding-bottom:110px;
}

.drpbtn{
  background-color: #f3f3f3;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -1px;
  background-color: #f3f3f3;
  width: 100px;
  //padding: 12px 16px;
  z-index:999;

}
.dropdown:hover .dropdown-content {
  display: block;
}


