/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "style";
@import "magnific-popup";
@import "jquery-ui";
@import "jquery-ui/slider.css";
@import "owl.carousel";
@import "owl.theme.default";
@import 'slick';
@import "bootstrap";
@import "toastr";
@import "material_icons";

@import "style";
@import 'home';
@import 'events';
@import 'purchases';
@import 'tickets';
@import 'orders';
@import 'cart';
@import 'checkout';
@import 'modals';

body {
  font-family: "Muli", sans-serif;
  font-size: medium;
}
a,
a:visited {
  color: #98B3F7;
}

a:hover {
  color: #FFA4B6;
  text-decoration: none;
}

ul.header {
  list-style-type: none;
  margin: auto;
  padding-left: 15px;
  //overflow: scroll;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  height: 60px;
}

ul.footer {
  list-style-type: none;
  column-count: 2;
  column-gap: 0px;
  line-height: 250%;
  display: block;
  overflow: hidden;
  background-color: #FFF6A4;
  width: 30%;
  text-align: center;
  margin: auto;
}

div.footerView {
  background-color: #FFF6A4;
  padding: 50px;
}

li.footer {
  //float: left;
  color: #47525E;
  font-size: 10px;
  //font-weight: 400;
  line-height: 20px;
  position: relative;
  //width: 50px;
  //text-align: center;
}

.header{
li {
  float: left;
  color: #47525E;
  font-size: 18px;
  font-weight: 400;
  line-height: 59px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;

}

li a {
  display: block;
  color: #666;
  text-align: center;
//  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFF6A4;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
}

#corner {
  float: right;
}


.footer{

li a {
  display: block;
  color: #666;
  text-align: center;
//  padding: 14px 16px;
  text-decoration: none;
  bottom: 0;

}

li a:hover:not(.active) {
  background-color: #fff171;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
}

p{
  font-size: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
}
div{
  font-size: 12px;
}

.container {
  border-radius: 5px;
  padding: 20px;
  background-color: #f3f3f3;
}

#cart{
  padding-bottom: 8px;

}

* {
  box-sizing: border-box;
}

.about-section {
  background-image: url("about-us-title-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding-top: 110px;
  padding-bottom:128px;
  width: 100%;
  height: auto;

}

.yellow {
  background-color: #FFF6A4;
  color: #666;
}

.button-color {
  background-color: #FFF6A4;
  color: black;
  border-width: 1px;
  border-color: #ddd;
}

.button-color:hover {
  background-color: white;
  color: black;
  border-width: 1px;
  border-color: #ddd;
}

.btn-primary.button-color:active:hover,
.btn-primary.button-color:active:focus,
.btn-primary.button-color:active.focus,
.btn-primary.button-color.active:hover,
.btn-primary.button-color.active:focus,
.btn-primary.button-color.active.focus,
.open > .btn-primary.button-color.dropdown-toggle:hover,
.open > .btn-primary.button-color.dropdown-toggle:focus,
.open > .btn-primary.button-color.dropdown-toggle.focus {
  background-color: #FFF6A4;
  color: black;
  border-width: 1px;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #FFF6A4;
  color: black;
  border-width: 1px;
  border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
  color: #98B3F7;
}

label {
  font-weight: normal !important;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.contact {
  background: url("contact.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding-top: 110px;
  padding-bottom:110px;
  width: 100%;
  height: auto;
  .btn btn-success btn-send{
    background-color: black;
  }
}


.drpbtn{
  background-color: #f3f3f3;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -1px;
  background-color: #f3f3f3;
  width: 100px;
  //padding: 12px 16px;
  z-index:999;

}
.dropdown:hover .dropdown-content {
  display: block;
}
.list-group-color .list-group-item{
  background-color: #f3f3f3;
}

.list-group-color .list-group-item:hover{
  background-color: #FFF6A4;
}

.form-group{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  border-color: #fff6a4;
  border-width: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

label {
  font-weight: bold;
}

.eventNumBox{

  //up right down left
  margin: 0px 10px 20px 50px;
  border: 9px solid #fff6a4;
  width: 75px;
  height: 75px;
  border-radius: 25%;

  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  font-size: 20px;
  font-weight: bold;
}

.numBoxText{
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
}

.numField{
  width:100px;
}

/**table, th, td {
  border: 1px solid black;
}
*/

.linkButton{
  border-radius: 50%;
  border: 2px solid grey;
  width:68px;
  height:65px;
  text-align: center;
  vertical-align: middle;
  line-height: 63px;
  background-color: white;
}

#myEventTable{
  border: 3px solid grey;
  margin: 60px auto 30px auto;
  background-color: #fff6a4;
}

table{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

th{
  border: 2px solid grey;
  background-color: white;
  padding: 9px;
  font-weight: bold;
  text-align:center;
}

td{
  text-align: center;
  vertical-align: middle;
}


.tableBorder{
  border: 2px solid grey;
}

#heading{
  text-align: center;
  background-color:	#D3D3D3;
  padding: 40px 0;
  margin-bottom: 40px;
}
.page-container-container-sm{
  color: black;

}

.l-mar-top-10 {
  margin-top: 50px;
}
.g-grid, .overlay-dialog__frame {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  letter-spacing: 0;
}

@media only screen and (max-width: 799px) and (min-width: 480px) {
  .g-grid, .overlay-dialog__frame, .g-group--page-margin-reset {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.section{
  display: block;
}
.sidenav--article-bg{
  background-color: #f3f3f3;
}

.strong{
  font-weight: bolder;
}
.bullet-point-list{
  list-style-type: circle;
  .unordered-list{
    font-size: 18px;
  }
}
