// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#events {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#events td,
#events th {
  border: 1px solid #ddd;
  padding: 8px;
}

#events tr:hover {
  background-color: #ddd;
}

#events th {
  padding-top: 10px;
  padding-bottom: 12px;

  text-align: left;
  background-color: #000000;
  color: white;
}
