// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-blocks-cover.inner-page.bg {
  background: url(image_path('map.jpg')) no-repeat center center;
  background-size: cover;
  width: 100%;
}

